.container{
 width: 500px;
 background: whitesmoke;
 margin-top: 10px;
 padding-top: 10px;
}

#boton{
margin-left: 357px;
}

.container2{
 width: 500px;
 background: whitesmoke;
 margin-top: 90px;
 padding-top: 10px;
margin-left: 365px;

}